.about {
    background-color: var(--body-color);
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 5rem;
    color: var(--color-white);
    overflow: hidden;
}

.about .icon-content {
    position: relative;
}

.about .icon-content .main-icon {
    display: block;
    height: auto;
    width: 100%;
    padding: 2rem;
}


.about .icon-content .icon-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    bottom: 0.10rem;
    right: 2rem;
}

.about .icon-content .icon-description p {
    background-color: transparent;
    text-align: center;
    font-size: 0.85rem;
}

.about .icon-content .icon-description h1 {
    background-color: transparent;
    font-size: 1.2rem;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.about .about-content h1 {
    width: 14rem;
}

.about .about-content p {
    width: 30rem;
    line-height: 2rem;
}

.about .about-content button {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: var(--color-white);
    border-radius: 0.20rem;
}

@media only screen and (max-width: 767px) {
    .about {
        flex-direction: column;
        margin: 0;
        padding: 1.5rem;
        gap: 4rem;
    }

    .about .icon-content .main-icon .inside-car {
        height: 13rem;
        width: 20rem;
    }

    .about .icon-content {
        margin: 1rem;
    }

    .about .icon-content .icon-description h1 {
        font-size: 1rem;
    }

    .about .icon-content .icon-description p {
        font-size: 0.65rem;
    }

    .about .icon-content .icon-description {
        gap: 0.65rem;
    }

    .about .about-content {
        height: auto;
        width: 20rem;
        padding-bottom: 2rem;
    }

    .about .about-content p {
        font-size: 0.85rem;
        width: fit-content;
    }
}



