.about {
    background-color: var(--body-color);
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    gap: 5rem;
    color: var(--color-white);
    overflow: hidden;
}

.about .icon-content {
    position: relative;
}

.about .icon-content .main-icon {
    display: block;
    height: auto;
    width: 100%;
}


.about .icon-content .icon-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.about .icon-content .icon-description p {
    background-color: transparent;
    text-align: center;
}

.about .icon-content .icon-description h1 {
    background-color: transparent;
}

.about .about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.about .about-content h1 {
    width: 14rem;
}

.about .about-content p {
    width: 30rem;
    line-height: 2rem;
}

.about .about-content button {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: var(--color-white);
    border-radius: 0.20rem;
}




